# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GeekBrains\cloud-storage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
*.iws
*.iml
*.ipr
target/
/out/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn

#Temp
git rm --cached /clientOld/

*.fxml
src/main/java/ru/gb/storage/client/AuthController.java
src/main/java/ru/gb/storage/client/ClientController.java
src/main/java/ru/gb/storage/client/RegController.java
src/main/java/ru/gb/storage/client/ClientApp.java